<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-globalbroadcaster" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>GlobalBroadcaster</name>
    <description>Plugin for global broadcasting</description>
    <license>Apache 2.0 License</license>


    <js-module name="GlobalBroadcaster" src="www/GlobalBroadcaster.js">
        <clobbers target="GlobalBroadcaster" />
    </js-module>


    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="GlobalBroadcaster">
                <param name="android-package" value="com.cordova.GlobalBroadcaster" />
                <!--<param name="onload" value="true" />-->
            </feature>
        </config-file>
        <source-file src="src/android/GlobalBroadcaster.java" target-dir="src/com/cordova/" />
    </platform>

</plugin>
